################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ComputerStore/FileContentIndex/3fc2d2b7-29db-4eb1-9e83-f49fbc3cc84e.vsidx
/.vs/ComputerStore/FileContentIndex/985a9ac0-fea6-4f04-bb23-80645e533852.vsidx
/.vs/ComputerStore/FileContentIndex/d93f9482-b4c1-4801-825d-6e80058cfce5.vsidx
/.vs/ComputerStore/v17/DocumentLayout.json
/DoAn/.vs/ComputerStore/v17/DocumentLayout.backup.json
/DoAn/.vs/ComputerStore/v17/.suo
/DoAn/.vs/ComputerStore/v17/DocumentLayout.json
/DoAn/.vs/ComputerStore/v17/HierarchyCache.v1.txt
/DoAn/ComputerStore/bin/ComputerStore.pdb
/DoAn/ComputerStore/bin/ComputerStore.dll
/DoAn/ComputerStore/obj/Debug/ComputerStore.csproj.AssemblyReference.cache
/DoAn/ComputerStore/obj/Debug/ComputerStore.csproj.CoreCompileInputs.cache
/DoAn/ComputerStore/obj/Debug/ComputerStore.csproj.FileListAbsolute.txt
/DoAn/ComputerStore/obj/Debug/ComputerStore.dll
/DoAn/ComputerStore/obj/Debug/ComputerStore.pdb
/DoAn/ComputerStore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.out
/DoAn/ComputerStore/obj/Debug/Tsceaa26067.out
/DoAn/ComputerStore/obj/Release/ComputerStore.csproj.AssemblyReference.cache
/DoAn/ComputerStore/Web.config
/DoAn/ComputerStore/NguyenHuuDuy_CodeNote.txt
/Báo cáo DACN.docx
/.vs/slnx.sqlite
/.vs/ComputerStore/v17/workspaceFileList.bin
/.vs/ComputerStore/v17/.wsuo
/.vs/ComputerStore/v17/DocumentLayout.backup.json
/.vs/ComputerStore/FileContentIndex/d479c65d-9754-40d5-b080-671b5b6ecdc0.vsidx
/.vs/ComputerStore/v17/workspaceFileList.bin
/.vs/ComputerStore/v17/.wsuo
/.vs/ComputerStore/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/DoAn/.vs/ComputerStore/v17/.suo
/DoAn/.vs/ComputerStore/v17/DocumentLayout.backup.json
/DoAn/.vs/ComputerStore/v17/DocumentLayout.json
/DoAn/.vs/ComputerStore/v17/HierarchyCache.v1.txt
/DoAn/ComputerStore/bin/ComputerStore.dll
/DoAn/ComputerStore/bin/ComputerStore.dll.config
/DoAn/ComputerStore/bin/ComputerStore.pdb
/DoAn/ComputerStore/obj/Debug/ComputerStore.csproj.AssemblyReference.cache
/DoAn/ComputerStore/obj/Debug/ComputerStore.csproj.CoreCompileInputs.cache
/DoAn/ComputerStore/obj/Debug/ComputerStore.csproj.FileListAbsolute.txt
/DoAn/ComputerStore/obj/Debug/ComputerStore.dll
/DoAn/ComputerStore/obj/Debug/ComputerStore.pdb
/DoAn/ComputerStore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DoAn/ComputerStore/obj/Debug/Tsceaa26067.out
/DoAn/ComputerStore/obj/Release/ComputerStore.csproj.AssemblyReference.cache
/DoAn/ComputerStore/NguyenHuuDuy_CodeNote.txt
/DoAn/ComputerStore/Web.config
/Báo cáo DACN.docx
/.vs/ComputerStore/FileContentIndex/d479c65d-9754-40d5-b080-671b5b6ecdc0.vsidx
/.vs/ComputerStore/FileContentIndex/d479c65d-9754-40d5-b080-671b5b6ecdc0.vsidx
