
@model ComputerStore.Areas.User.Controllers.HomeController.ProductDetailsViewModel


@{
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";
}
<div class="content">
    <div>
        <div class="header-content grid">
            <div class="grid__row row">
                <ul class="catalog-list col-2">
                    <li class="catalog-item">
                        <a href="#" class="catalog-item-link">
                            <i class="fas fa-laptop-code"></i>
                            <span class="catalog-name">
                                PC Gaming
                            </span>
                        </a>
                        <div class="products-of-catalog">
                            <div class="product-catalog-container">
                                <div class="product-of-catalog-content">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="product-of-catalog-banner">
                                    <a href="" class="product-of-catalog-link">
                                        <img src="http://theme.hstatic.net/1000026716/1000440777/14/xxxbannerxxx2.png?v=19077"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="catalog-item">
                        <a href="#" class="catalog-item-link">
                            <i class="fas fa-desktop"></i>
                            <span class="catalog-name">
                                Màn Hình
                            </span>
                        </a>
                        <div class="products-of-catalog">
                            <div class="product-catalog-container">
                                <div class="product-of-catalog-content">
                                    <span>âa</span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="product-of-catalog-banner">
                                    <a href="" class="product-of-catalog-link">
                                        <img src="//theme.hstatic.net/1000026716/1000440777/14/xxxbannerxxx6.png?v=19077"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="catalog-item">
                        <a href="#" class="catalog-item-link">
                            <i class="fas fa-mouse"></i>
                            <span class="catalog-name">
                                Chuột
                            </span>
                        </a>
                        <div class="products-of-catalog">
                            <div class="product-catalog-container">
                                <div class="product-of-catalog-content">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="product-of-catalog-banner">
                                    <a href="" class="product-of-catalog-link">
                                        <img src="//theme.hstatic.net/1000026716/1000440777/14/xxxbannerxxx8.png?v=19077"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="catalog-item">
                        <a href="#" class="catalog-item-link">
                            <i class="fas fa-headphones-alt"></i>
                            <span class="catalog-name">
                                Tai Nghe Gaming
                            </span>
                        </a>
                        <div class="products-of-catalog">
                            <div class="product-catalog-container">
                                <div class="product-of-catalog-content">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="product-of-catalog-banner">
                                    <a href="" class="product-of-catalog-link">
                                        <img src="//theme.hstatic.net/1000026716/1000440777/14/xxxbannerxxx9.png?v=19077"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="header-banner">
                <div class="slider col-6">
                    <div class="main-slider">
                        <div class="list-slider" id="list-slider">
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider1.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider2.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider3.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider4.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider5.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider6.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider7.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider8.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider9.jpg" alt="">
                                </a>
                            </div>
                            <div class="slider-item">
                                <a class="slider-link" href="">
                                    <img class="slider-img" src="~/assets_user/image/slider/slider10.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="slider-control">
                            <div class="slider-icon left" id="icon-left">
                                <i class="fas fa-angle-left"></i>
                            </div>
                            <div class="slider-icon right" id="icon-right">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="sub-slider">
                        <a class="sub-slider-link1" href="">
                            <img class="sub-slider-img" src="~/assets_user/image/sub-slider/sub-sli1.jpg" alt="">
                        </a>
                        <a class="sub-slider-link2" href="">
                            <img class="sub-slider-img" src="~/assets_user/image/sub-slider/sub-sli2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="sub-banner">
                    <a class="sub-banner-link1" href="">
                        <img class="sub-banner-img" src="~/assets_user/image/sub-slider/sub-ban1.jpg" alt="">
                    </a>
                    <a class="sub-banner-link2" href="">
                        <img class="sub-banner-img" src="~/assets_user/image/sub-slider/sub-ban2.jpg" alt="">
                    </a>
                    <a class="sub-banner-link3" href="">
                        <img class="sub-banner-img" src="~/assets_user/image/sub-slider/sub-ban3.jpg" alt="">
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div class="container grid-full-width">
        <div class="container-content grid">
            <div class="container-banner row">
                <a href="" class="container-banner-link col">
                    <img class="container-banner-img" src="~/assets_user/image/container-banner/xxxbanner1.jpg" alt="">
                </a>
                <a href="" class="container-banner-link col">
                    <img class="container-banner-img" src="~/assets_user/image/container-banner/xxxbanner2.jpg" alt="">
                </a>
                <a href="" class="container-banner-link col">
                    <img class="container-banner-img" src="~/assets_user/image/container-banner/xxxbanner3.jpg" alt="">
                </a>
                <a href="" class="container-banner-link col">
                    <img class="container-banner-img" src="~/assets_user/image/container-banner/xxxbanner4.jpg" alt="">
                </a>
            </div>
            <div class="product-content">
                <div class="product-header">
                    <span class="product-header-theme">Top PC Bán Chạy</span>
                    <a href="" class="product-view-all">
                        Xem tất cả
                        <i class="fas fa-angle-right"></i>
                    </a>
                </div>
                <div id="product2" class="product-list">
                    @foreach (var item in Model.PcDetailsList.GroupBy(p => p.P.ProductID).Select(g => g.First()))
                    {
                        <div class="product-item">
                            <a href="" class="product-link" id="product-link">
                                <div class="product-img">
                                    <img src="~/assets_user/image/data-image/@item.P.Image1" alt="">
                                    <div class="add-to-cart">
                                        <div class="add-content">
                                            <span class="view-detail">Click để xem chi tiết</span>
                                            <span class="add-btn">Đặt hàng</span>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="product-name">
                                    @item.P.ProductName
                                </h2>
                            </a>
                            <div class="product-about-price">
                                <div class="product-price">
                                    <p class="original-price">20,420,000₫</p>
                                    <p class="new-price">19,490,000₫</p>
                                </div>
                                <div class="product-sale-off">
                                    -5%
                                </div>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
            <div class="product-content">
                <div class="product-header">
                    <span class="product-header-theme">Top tai nghe bán chạy</span>
                    <a href="" class="product-view-all">
                        Xem tất cả
                        <i class="fas fa-angle-right"></i>
                    </a>
                </div>
                <div id="product3" class="product-list">
                    @foreach (var item in Model.PhoneDetailsList.GroupBy(p => p.P.ProductID).Select(g => g.First()))
                    {
                        <div class="product-item">
                            <a href="" class="product-link" id="product-link">
                                <div class="product-img">
                                    <img src="~/assets_user/image/data-image/@item.P.Image1" alt="">
                                    <div class="add-to-cart">
                                        <div class="add-content">
                                            <span class="view-detail">Click để xem chi tiết</span>
                                            <span class="add-btn">Đặt hàng</span>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="product-name">
                                    @item.P.ProductName
                                </h2>
                            </a>
                            <div class="product-about-price">
                                <div class="product-price">
                                    <p class="original-price">20,420,000₫</p>
                                    <p class="new-price">19,490,000₫</p>
                                </div>
                                <div class="product-sale-off">
                                    -5%
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="product-content">
                <div class="product-header">
                    <span class="product-header-theme">Màn hình bán chạy</span>
                    <a href="" class="product-view-all">
                        Xem tất cả
                        <i class="fas fa-angle-right"></i>
                    </a>
                </div>
                <div id="product4" class="product-list">
                    @foreach (var item in Model.ScreenDetailsList.GroupBy(p => p.P.ProductID).Select(g => g.First()))
                    {
                        <div class="product-item">
                            <a href="" class="product-link" id="product-link">
                                <div class="product-img">
                                    <img src="~/assets_user/image/data-image/@item.P.Image1" alt="">
                                    <div class="add-to-cart">
                                        <div class="add-content">
                                            <span class="view-detail">Click để xem chi tiết</span>
                                            <span class="add-btn">Đặt hàng</span>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="product-name">
                                    @item.P.ProductName
                                </h2>
                            </a>
                            <div class="product-about-price">
                                <div class="product-price">
                                    <p class="original-price">20,420,000₫</p>
                                    <p class="new-price">19,490,000₫</p>
                                </div>
                                <div class="product-sale-off">
                                    -5%
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="email-register grid">
                <div class="intro-text">
                    Mua hàng online với nhiều ưu đãi hơn tại GEARVN
                </div>
                <div class="email-form">
                    <input type="email" placeholder="Nhập email của bạn" class="email-input">
                    <p class="email-btn">Đăng ký</p>
                </div>

            </div>
        </div>
    </div>
</div>