/*Hehe, fix được cái tam giác rồi :)), khoái vlone*/
.catalog-list {
    /*    border: 1px solid red;*/
    padding: 0;
    margin-bottom: 2px;
}

.m-font-size-12 {
    font-size: 12px;
}

.m-font-size-14 {
    font-size: 14px;
}

.text-bold {
    font-weight: bold !important;
}

.product-of-catalog-content {
    display: flex;
    /*    border: 1px solid red;*/
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px 40px;
}

.product-of-catalog-content-name {
    color: red;
    font-weight: 500;
    font-size: 15px;
}

.product-of-catalog-content-items {
    color: black;
    font-weight: 400;
    text-decoration: none;
    display: block;
    margin: 10px 0px;
    font-size: 13px;
}

    .product-of-catalog-content-items:hover {
        color: red;
    }

.header-content .catalog-list .catalog-item {
    cursor: pointer;
    width: 100%;
    transition: all 0.1s ease;
    display: block;
}

    .header-content .catalog-list .catalog-item .catalog-item-link {
        position: relative;
        /*height: 38px;*/ /*Add*/
    }

    .header-content .catalog-list .catalog-item .fa-pull-right {
        margin-left: auto;
    }

    .header-content .catalog-list .catalog-item .catalog-item-link::after {
        content: "";
        position: absolute;
        top: -9px;
        left: 98%;
        width: 0;
        height: 0;
        border-top: 19px solid transparent;
        border-bottom: 19px solid transparent;
        border-left: 18px solid #EA1C04;
        opacity: 0;
        transition: opacity 0.1s ease;
    }

    .header-content .catalog-list .catalog-item:hover {
        background-color: #EA1C04;
        cursor: pointer;
        border-radius: 4px;
    }

        .header-content .catalog-list .catalog-item:hover .products-of-catalog {
            border-radius: 4px;
            /*            border: 1px solid red;*/
        }

        /*    .header-content .catalog-list .catalog-item .catalog-item-link:hover::after {
        border-radius: 4px;
        opacity: 1;
        z-index: 10;
    }*/

        .header-content .catalog-list .catalog-item:hover .catalog-item-link::after {
            border-radius: 4px;
            opacity: 1;
            z-index: 10;
        }




        .header-content .catalog-list .catalog-item:hover i {
            color: white;
        }

.header-content .header-banner .slider .main-slider {
    border-radius: 4px;
}

/*Tạo và sửa đổi để cho ra được onclick-menu
    - Tận dụng việc css viết sau sẽ được ghi đè lên css viết trước
    - Và gán id
    - css của id > css của class
*/
/*#region Menu Onclick*/

.header-fixed .sub-header .product-catalog:hover {
    cursor: pointer;
}

#megamenu {
    display: none;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    padding-top: 0px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 166px;
}

.overlay-for-megamenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


#megamenu-ul {
    padding: 0;
}

/*#endregion*/

.my-container {
    padding-top: 153px;
}

.my-logo-img {
    min-height: 53px;
}

/*#region Product Details Page*/
.m-product-name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

.m-product-rating {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.m-rating-star {
    color: orange;
}

.m-product-price {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

    .m-product-price .m-origin-price {
        font-size: 30px;
        font-weight: 400;
        color: red;
    }

    .m-product-price .m-discount-price {
        font-size: 20px;
        font-weight: 200;
        text-decoration: line-through;
        color: gray;
    }

    .m-product-price .m-discount-percent {
        font-size: 14px;
        font-weight: 200;
        color: red;
        border: 1px solid red;
        padding: 4px;
        border-radius: 6px;
    }

.product-gift {
    margin: 10px 0px 10px 0px;
    border: 1px solid #FFD9D9;
    border-radius: 4px;
}

.box-header {
    background-color: #FFD9D9;
    padding: 5px 15px;
}

.gift-info {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px 10px;
    align-items: center;
}

.rouded-number {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: white;
}

.list-gift:hover {
    text-decoration: underline;
}

.btn-buynow {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: red;
    align-items: center;
    padding: 8px 40px;
}

    .btn-buynow .maintext {
        font-weight: 600;
        text-align: center;
        font-size: 18px;
    }

    .btn-buynow .subtext {
    }

.increase, .decrease {
    width: 25px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: none;
}

.sm-rouded-img {
    width: 110px;
    border-radius: 5px;
    /*    border: 1px solid black;*/
}

.related-product {
    font-size: 12px;
}

    .related-product .m-product-price .m-origin-price {
        font-size: 14px;
        font-weight: 400;
        color: red;
    }

    .related-product .m-discount-price {
        font-size: 12px;
        font-weight: 200;
        text-decoration: line-through;
        color: gray;
    }

    .related-product .m-product-price .m-discount-percent {
        font-size: 12px;
        font-weight: 200;
        color: red;
        border: 1px solid red;
        padding: 4px;
        border-radius: 6px;
    }

.fa-heart {
    color: orange !important;
}

    .fa-heart:hover {
        cursor: pointer !important;
        color: red !important;
    }

.quantity {
    width: 50px;
    max-width: 200px;
}
/*#endregion*/

/*#region Giỏ hàng page*/
.line-before::before {
    content: "|";
    padding: 0px 20px 10px 20px;
    font-size: 40px;
}

.fa-trash:hover {
    color: red;
    cursor: pointer;
}

.summary-item {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.fa-question-circle:hover {
    color: red;
    cursor: pointer;
}

.voucher {
    max-height: 315px;
    overflow: auto;
}

    .voucher .voucher-info {
        font-size: 10px;
    }

        .voucher .voucher-info img {
            width: 60px;
            height: 60px;
            margin-top: auto;
            margin-bottom: auto;
        }

        .voucher .voucher-info .btn-apply {
            margin-top: auto;
            margin-left: auto;
        }
/*#endregion*/

/*#region Thanh toán page*/
.address {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.address .address-title {
    color: red;
    font-size: 18px;
}

.address .address-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.address .address-info .address-customer-name {
    font-weight: 500;
}

.label-default {
    border: 1px solid orange;
    text-align: center;
    padding: 4px;
    margin-left: 10px;
    font-size: 12px;
    color: red;
}
/*#endregion*/

/*#region Quản lý đơn hàng page*/
.m-ml {
    margin-left: 10px;
}

.disable-input-outline input:focus {
    outline:none;
}

.m-search-bar {
    background-color: #EAEAEA;
}

.m-search-input {
    padding: 3px;
    background-color: #EAEAEA;
}

.m-orderitem-status {
    color: red;
    text-align: end;
    padding: 2px 0px;
    border-bottom: 0.5px solid gray;
    width: 100%;
}

.text-red {
    color: red;
}

.m-ml-auto {
    margin-left: auto;
}

.m-mr-auto {
    margin-right: auto;
}
/*#endregion*/